html {
  width: 100%;
}

body, html {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  position: relative;
}

#background-1 {
  display: block;
  padding-bottom: 5rem;
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 10;
}

#background-1::before {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 74, 129, 0.5);
}

#background-1::after {
  z-index: -2;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7) url("images/background-photo-1.png") center no-repeat;
  background-blend-mode: darken, luminosity;
  background-size: cover;
  opacity: 0.5;
}

#header-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  background: white;
}

#description-icon-1 {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  /* identical to box height */
  color: #0d4a81;
}

#title-1 {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: #0d4a81;
  margin: 0em 0 0.2em 0;
  background: white;
  padding: 0.5em 0;
  box-shadow: 0 5px 15px -10px #222;
  text-shadow: 1px 1px #0d4a81;
}

#subtitle-1 {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  color: #f5f5f5;
  max-width: 700px;
  margin: 3rem auto 4rem auto;
}

#subtitle-1::after {
  width: 100%;
  height: 4px;
  display: block;
  margin: 0.5% auto;
  background: #f5f5f5;
}

#subtitle-2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #f5f5f5;
  max-width: 900px;
  margin: auto;
}

#form {
  max-width: 450px;
  margin: 2em auto 0 auto;
  background: white;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 10px 35px;
}

/**
* Illustration section
*/

#background-2 {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 3em 0;
  box-sizing: border-box;
}

section #objects-1, section #objects-2 {
  max-width: 900px;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  position: relative;
  gap: 6rem;
}

section #objects-1 {
  flex-direction: row-reverse;
  margin-bottom: 4rem;
}

section #objects-2 {
  flex-direction: row;
}

.title-global-1, .title-global-2 {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  color: #0d4a81;
  font-size: 2rem;
  line-height: 100%;
  margin-bottom: 1rem;
}

.text-global-1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #0d4a81;
}

.text-global-2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #0d4a81;
}

.object-text-content {
  display: block;
  position: relative;
  max-width: 500px;
}

.object-text-content:before {
  content: "";
  display: block;
  width: 4px;
  background: #0d4a81;
  height: 120%;
  position: absolute;
  margin: -1.2em 0em 0em -1em;
}

#objects-2 .object-text-content:before {
  right: 0;
  margin: -1.2em -1em 0 0;
}

#objects-2 .object-text-content {
  text-align: right;
}

#objects-2 .image-container {
  padding: 1em;
  display: block;
}

/**
* End of illustration sections
*/

#background-3 {
  background-color: #e5e5e5;
  width: 100%;
  height: fit-content;
}

#top-scene3 {
  width: 100%;
  height: fit-content;
  background: #18b5ba;
}

.separador {
  width: 100%;
  height: 200px;
}

#separador-1 {
  margin: 6.2% auto auto auto;
}

#mid-separadores {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  background-color: #18b5ba;
  /*box-shadow: -6px 4px 12px rgba(123, 123, 123, 0.72);*/
  justify-content: space-around;
  padding: 3em 0;
  position: relative;
  max-width: 1800px;
  margin: auto;
}

#top-scene3 {
  display: flex;
  position: relative;
}

#top-scene3:before, #top-scene3:after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
}

#top-scene3:before {
  background: url('images/SeparadorDores_Topo.svg') repeat-x;
  background-position: center 0;
  height: 5em;
  top: -4.5em;
}

#top-scene3:after {
  background: url('images/SeparadorDores_Bottom.svg') repeat-x;
  background-position: center 0;
  height: 10em;
  top: 99%;
}

#box-1 {
  flex-basis: 20%;
}

#box-2 {
  flex-basis: 30%;
}

#box-3 {
  flex-basis: 37%;
}

.rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  box-shadow: 0px 7px 100px -60px #0d4a81;
  border-radius: 13px;
  padding: 10px;
}

.box p {
  padding: 1.2em 1.4em;
}

.text-global-3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.01em;
  width: 100%;
  text-align: left;
  color: #000000;
}

h2#title-profissional {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  color: #0d4a81;
  margin-bottom: 2em;
}

p#name-profissional {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #0d4a81;
}

p#about-profissional {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #000000;
}

#perfil-profissional {
  margin-top: 10em;
  display: flex;
  flex-direction: row;
  height: fit-content;
  box-sizing: border-box;
  padding: 0 8em 3em 8em;
  justify-content: center;
}

#perfil-profissional #right-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2em;
  max-width: 30rem;
}

footer {
  height: 8em;
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

section#footer {
  background: #0d4a81;
  width: 100%;
  height: fit-content;
  padding-bottom: 4em;
  margin-bottom: -10px;
  text-align: center;
}

p#title-footer {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  color: #f5f5f5;
  padding-top: 2%;
}

p#subtitle-footer {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #f5f5f5;
  margin: 2% auto auto auto;
}

#btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 300px;
  height: 70px;
  color: #e5e5e5;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  background: linear-gradient( 93.87deg, #18b5ba 49.96%, rgba(23, 195, 201, 0.8) 97.38%);
  border: 1px solid #0d4a81;
  box-sizing: border-box;
  box-shadow: 0px 62px 53px rgba(24, 181, 186, 0.0347977), 0px 32.9851px 31.8823px rgba(24, 181, 186, 0.0489529), 0px 20.4158px 21.1919px rgba(24, 181, 186, 0.0577066), 0px 15.1541px 18.0014px rgba(24, 181, 186, 0.0635428), 0px 11.4655px 16.124px rgba(24, 181, 186, 0.0674648), 0px 6.74215px 10.6854px rgba(24, 181, 186, 0.07);
  border-radius: 8px;
  margin: 2% auto auto auto;
}

#btn, #rd-form-kl02258v button  {
  transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
}

#btn:hover, #rd-form-kl02258v button:hover  {
  letter-spacing: 4px;
}

footer {
  background: #0d4a81;
  width: 100%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #f5f5f5;
}

/** FORM replacementes */

#rd-section-kl02258o {
  background: transparent !important;
}

#rd-form-kl02258v {
  padding: 0;
}

#rd-section-kl02258o input {
  height: 60px !important;
  border-radius: 8px !important;
  background: #EEE;
  box-shadow: 0px 100px 80px rgba(13, 74, 129, 0.0217013), 0px 48.2934px 29.2013px rgba(13, 74, 129, 0.0310596), 0px 23.0927px 14.1767px rgba(13, 74, 129, 0.0389404), 0px 10.5941px 6.94968px rgba(13, 74, 129, 0.0482987), 0px 3.87424px 2.74791px rgba(13, 74, 129, 0.07);
  font-family: Poppins !important;
  text-align: center;
}

#rd-form-kl02258v .with-select-flags>.phone-input-group>.select2-container>.select2-choice {
  height: 60px !important;
  display: flex;
  align-items: center;
}

#rd-form-kl02258v button {
  height: 60px;
  background: linear-gradient(93.87deg, #18B5BA 49.96%, rgba(23, 195, 201, 0.8) 97.38%);
  border: 1px solid #2C8681;
  box-sizing: border-box;
  box-shadow: 0px 62px 53px rgba(24, 181, 186, 0.0347977), 0px 32.9851px 31.8823px rgba(24, 181, 186, 0.0489529), 0px 20.4158px 21.1919px rgba(24, 181, 186, 0.0577066), 0px 15.1541px 18.0014px rgba(24, 181, 186, 0.0635428), 0px 11.4655px 16.124px rgba(24, 181, 186, 0.0674648), 0px 6.74215px 10.6854px rgba(24, 181, 186, 0.07);
  border-radius: 8px;
  text-transform: uppercase;
  font-family: 'Comfortaa' !important;
}

#rdstation-bricks-embeddable-form-bricks-component-6SWLGt6PWcSRH1JhjcrrqA .bricks-form__fieldset {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#rd-form-kl02258v .bricks-form__label {
  font-size: 0.8em !important;
  font-family: Poppins, Arial !important;
  color: #222 !important;
  text-align: left;
}

#rd-form-kl02258v .bricks-form__input {
  background: #EEE !important;
}

#box-agradecimento {
  padding: 0px 0px 30px;
  background: #F5F5F5;
  box-shadow: 0px 100px 80px rgba(34, 34, 34, 0.07), 0px 41.7776px 33.4221px rgba(34, 34, 34, 0.0503198), 0px 22.3363px 17.869px rgba(34, 34, 34, 0.0417275), 0px 12.5216px 10.0172px rgba(34, 34, 34, 0.035), 0px 6.6501px 5.32008px rgba(34, 34, 34, 0.0282725), 0px 2.76726px 2.21381px rgba(34, 34, 34, 0.0196802);
  border-radius: 15px;
  font-family: 'Comfortaa';
  display: block;
  position: relative;
  max-width: 850px;
  margin: 3em auto 0 auto;
}

.box-header {
  border-radius: 8px 8px 0 0;
}

#box-agradecimento .box-header {
  position: inherit;
  display: inherit;
  text-align: center;
  background: rgb(23, 81, 133);
  background: linear-gradient(180deg, rgba(23, 81, 133, 1) 0%, rgba(13, 74, 129, 1) 35%, rgba(25, 97, 162, 1) 100%);
  color: #F5F5F5;
  padding: 2em 0;
}

.box-header h2 {
  font-size: 2em;
}

.box-conteudo .row-obrigado {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 80%;
  margin: 2em auto;
  max-width: 500px;
  gap: 15px;
  line-height: 1.1em;
}

.row-obrigado p {
  line-height: 1.5em;
  height: fit-content;
  font-weight: bold;
}

#telegram-button {
  justify-content: center;
  margin: auto;
  display: flex;
  max-width: 350px;
  font-family: 'Comfortaa';
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: rgb(23, 81, 133);
  background: linear-gradient(180deg, rgba(23, 81, 133, 1) 0%, rgba(13, 74, 129, 1) 35%, rgba(25, 97, 162, 1) 100%);
  border-radius: 6px;
  font-size: 1.5em;
  padding: 1.5em 1em;
  margin-top: 2em;
  text-align: center;
  box-shadow: 0 10px 7px -10px #08345a;
}

#btn-href {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #subtitle-1 {
    font-size: 0.9em;
  }
  #subtitle-2 {
    font-size: 0.75em;
  }
  section #objects-1, section #objects-2 {
    flex-direction: column;
  }
  section #objects-1>.object-text-content, section #objects-2>.object-text-content {
    text-align: left;
  }
  .object-text-content::before {
    content: none;
  }
  #mid-separadores {
    flex-direction: column;
    padding: 2em 2em;
  }
  .box {
    margin-bottom: 20px;
  }
  #perfil-profissional {
    padding: 0 0em 3em 0em;
    flex-direction: column;
  }
  #perfil-profissional #perfil {
    text-align: center;
  }
  section#footer {
    padding-top: 3em;
  }
  #background-2 {
    padding: 3em 20px;
  }
  #background-2 #objects-1 {
    margin-bottom: 2em;
  }
}

#form__callout h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #0d4a81;
  position: relative;
  animation: animationDate 2s cubic-bezier(0.23, 1, 0.320, 1) infinite alternate-reverse;
}

#form__callout h3 svg {
  margin-right: 1rem;
}

@keyframes animationDate {
  from {
    letter-spacing: 0px;
  }
  to {
    letter-spacing: 4px;
  }
}

/* #form__callout h3::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: #0d4a81;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  bottom: -5px;
} */

#form__callout span {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: normal;
  display: block;
  text-align: center;
}

#thanks__title, #section__social_network {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

#thanks__title {
  background: linear-gradient(90deg, #e5e5e5 0%, #f4f4f4 50%, #e6e6e6 100%);
  flex-direction: column;
  box-sizing: border-box;
  padding: 2em 0;
  box-shadow: 0 5px 25px -10px #222;
  z-index: 1;
}

#thanks__title::after {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background: url('/assets/images/ok.svg') -5em bottom no-repeat;
  background-size: 80%;
  height: 100%;
  width: 100%;
  opacity: 0.2;
}

#thanks__title h1 {
  font-family: 'Comfortaa';
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #08345a;
  font-weight: 700;
  text-align: center;
}

#thanks__title p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  line-height: 150%;
  color: #0d4a81;
  text-align: center;
}

#section__social_network {
  margin: 1.5em auto auto auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
}

#section__social_network a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  padding: 4em 2em;
  background: #f5f5f5;
  border-radius: 15px;
  margin-bottom: 20px;
  font-family: 'Comfortaa';
  box-sizing: border-box;
  box-shadow: 0 5px 25px -10px #222;
  transition: all 0.3s ease;
}

@media screen and (min-width: 768px) {
  #section__social_network a {
    margin-right: 20px;
    margin-bottom: 0px;
  }
  #thanks__title::after {
    background: url('/assets/images/ok.svg') center left no-repeat;
    background-size: 25%;
  }
}

.social_network_card div {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  color: #08345a;
}

#section__social_network a:hover {
  background: #08345a;
}

#section__social_network a:hover div {
  color: #F5F5F5;
}

#section__social_network a:hover div img {
  filter: invert(1) brightness(2);
}

#section__social_network a div img {
  max-height: 60px;
  margin-bottom: 15px;
}