#background-1{
    
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 822px;

    /* gradient */  

    background: linear-gradient(0deg, rgba(13, 74, 129, 0.5), rgba(13, 74, 129, 0.5)), url(images/background-photo-1.png)  ;
    background-blend-mode: darken, luminosity;


}


#icon-1{
    
    float: top;
    text-align: center;
    margin: 2% auto auto 43%;
    


}
#description-icon-1{

    
font-family: Comfortaa;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;
text-align: center;
margin-top: -2.22%;

/* identical to box height */

color: #0D4A81;


}
#title-1{
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color:#F5F5F5;
    margin: 2%;

}

#subtitle-1{
    font-family: Comfortaa;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 24px;
text-align: center;

color: #F5F5F5;
}
#subtitle-1::after{
content: '';
width: 795px;
height: 4px;
display: block;
margin: 0.5% auto;
background: #F5F5F5;
}


#subtitle-2{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.01em;
color: #F5F5F5;
;
}

#form{

    width: 30%;
    margin: 4% auto auto auto;



}

/*scene2*/


#background-2{
    background-color: #E5E5E5;
    width: 100%;
    height: 768px;
    
}
section #objects-1{

    width: 100%;
}
section #objects-2{

    width: 100%;
    margin-top: 0%;
}

#image-1{
    width: 50%;

    margin: 4% auto auto auto;
}

#image-2{

    margin: 2% auto auto 0%;
}

#right{
    width: 50%;
    float: right;
    margin: -25% auto auto 46%;
}
#right-2{
    width: 50%;
    float: right;
    margin: auto auto auto 46%;
    margin: -16% auto auto 46%;

}
#left{
    width: 50%;
    float: left;
    
}

#line-vertical-1{
    height: 298px;
border-left: 7px solid;
color: #0D4A81;
text-align: right;
margin: 1% auto auto -2%;
width: 1px;
    
}
#line-vertical-2{
    height: 298px;
    border-left: 7px solid;
    color:#0D4A81;
    text-align: right;
    margin: -12% auto auto 104%;
    width: 1px;
    
}
.title-global-1{
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 27px;
    margin: -28% auto auto 5%;
    color: #0D4A81;
    width: 100%;
}
.title-global-2{
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    text-align: right;
    font-size: 27px;
    line-height: 27px;
    width: 79%;
    margin: -28% auto auto 20%;
    color: #0D4A81;
}
.text-global-1{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    margin: 1% auto auto 5%;

    color: #0D4A81;
}
.text-global-2{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    width: 79%;
    margin: 2% auto auto 34%;
    text-align: right;
    color: #0D4A81;
    width: 65%;
}

#background-3{


    background-color: #E5E5E5;
    width: 100%;
    height: 968px;

}
#top-scene3{
    width: 100%;
    height: 400px;

}

.separador{
    width: 100%;
    height: 200px;
}
#separador-1{
  
    margin: 6.2% auto auto auto;
}
#mid-separadores{
    display: flex;
    width: 100%;
    height: 336px;
    background-color: #18b5ba;
    box-shadow: -6px 4px 12px rgba(123, 123, 123, 0.72);
    margin: -2% auto auto auto;
    justify-content: space-between;
    
}

.box1 .box2 .box3{
    flex: 1;
    flex-wrap: wrap;
}
.rows{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.box{

width: 300px;
height: 245px;
background: #F5F5F5;
box-shadow: 0px 7px 100px -60px #0D4A81;
border-radius: 13px;
margin: auto 2% auto 2%;
flex-grow: 1;

}
.text-global-3{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.01em;
    width: 100%;
    text-align: left;
    padding-top: 12%;
    margin-left: 4%;

    color: #000000;
}

div#perfil{
    width: 23%;
    height: 297px;
    margin: -24% auto auto 12%;
    float: left;

}
p#title-profissional{
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #0D4A81;
    margin: -10% auto auto 0%;
}

p#name-profissional{
    
font-family: Comfortaa;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
margin: 5% auto auto auto;

/* identical to box height */

color: #0D4A81;


}

p#about-profissional{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.01em;

margin: 0% auto auto 0%;

color: #000000;


}
section #perfil-profissional{
    margin-top: 2%;


}

section#footer{
    background: #0D4A81;
    width: 100%;
    height: 400px;
    margin-top: -5%;
    text-align: center;

}
p#title-footer{
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #F5F5F5;
    margin: 5% auto auto auto;
    padding-top: 2%;
}
p#subtitle-footer{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: #F5F5F5;
margin: 2% auto auto auto;
}
#btn{
    width: 26%;
height: 70px;
color: #E5E5E5;
font-family: Comfortaa;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
background: linear-gradient(93.87deg, #18B5BA 49.96%, rgba(23, 195, 201, 0.8) 97.38%);
border: 1px solid #0D4A81;
box-sizing: border-box;
box-shadow: 0px 62px 53px rgba(24, 181, 186, 0.0347977), 0px 32.9851px 31.8823px rgba(24, 181, 186, 0.0489529), 0px 20.4158px 21.1919px rgba(24, 181, 186, 0.0577066), 0px 15.1541px 18.0014px rgba(24, 181, 186, 0.0635428), 0px 11.4655px 16.124px rgba(24, 181, 186, 0.0674648), 0px 6.74215px 10.6854px rgba(24, 181, 186, 0.07);
border-radius: 8px;
margin: 2% auto auto auto;
}

@media only screen and (max-width: 414px) {
    #break-column {
        flex-basis: 100%;
        width: 0%;
      }

    #form{
      width: 90%;
    }
    #image-1{
        width: 70%;
    }
    #image-2{
        margin: 6% auto auto -20%;
    }
    #right {
        width: 100%;
        float: left;
        margin: 0% auto auto 5%;
    }
    #left {
        width: 98%;
        float: left;
    }
    #background-2{
        height: 1291px;
    }
    .title-global-1{
        text-align: left;
        margin: -65% auto auto 5%;
        width: 100%;
    }
    .title-global-2{
        width: 98%;
        margin: -63% auto auto 1%;
        
        text-align: left;
    }
    .text-global-2{
        width: 96%;
        margin: 3% auto auto -2%;
        text-align: right;
        color: #0D4A81;

    }

   section #objects-2 {
        width: 100%;
        margin-top: 0%;
    }
    #line-vertical-1{
        margin: -12% auto auto 0%;
        height: 298px;

    }
    #line-vertical-2{
        margin: 5% auto auto 98%;
        height: 298px;

    }

    #mid-separadores{
    
    flex-direction: column;
    }  
  }
  @media only screen and (max-width: 600px) {
    
    
    #form{
      width: 65%;
    }

    #image-1{
        width: 100%;
    }


  }
  footer{
    background: #0D4A81;
    width: 100%;
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
text-align: center;

/* identical to box height */
letter-spacing: 0.01em;

color: #F5F5F5;
  }
  @media only screen and (max-width: 1450px) and (min-width:1100px) {
    #right {
        width: 50%;
        float: left;
        margin: -36% auto auto 46%;

  }
  #image-2 {
    margin: -17% auto auto 46%;
}
    #title-global-2{
        margin: -45% auto auto 20%;
    }

    @media only screen and (max-width: 1100px) and (min-width:700px) {
        #right {
            width: 50%;
            float: left;
            margin: -36% auto auto 46%;
    
      }
      #image-2 {
        margin: -17% auto auto 46%;
    }
        #title-global-2{
            margin: -45% auto auto 20%;
        }
        #title-global-1{
            margin: -46% auto auto 5%;
        }
        #line-vertical-1{
            margin: -24% auto auto -2%;
        }

    }